* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "michroma";
  src: url(../fuentes/Michroma/Michroma-Regular.ttf);
  font-weight: bold;
  font-style: bold;
}
@font-face {
  font-family: "michroma";
  src: url(../fuentes/Michroma/Michroma-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
header {
  background-image: url(../imagenes/banner3.jpg);
}

/*VARIABLES*/
/*ESTILOS DE FUENTE */
/*ESTILOS HEADER*/
header {
  height: 300px;
  width: 100%;
  background-position: 0px;
  background-repeat: no-repeat;
  background-size: cover;
}
header h1 {
  font-family: "michroma";
  background-color: black;
  color: greenyellow;
  font-size: 50px;
  text-align: center;
  margin: 0;
}
header h1:hover {
  color: azure;
}
header img {
  opacity: 0.6;
}
header img:hover {
  opacity: 1;
}

/*Estilos del NAV*/
nav {
  display: flex;
  align-items: end;
}
nav .container-fluid {
  background: yellowgreen;
  display: flex;
  align-items: end;
}
nav .navbar-nav a {
  color: white;
  font-size: 20px;
  align-content: end;
  justify-content: flex-end;
}

/*ESTILOS DEL MAIN-INDEX (MAQUINAS, CLASES, INSTALACIONES)*/
.contenedor-padre {
  background-image: url(../imagenes/fondo-index.jpg);
  background-position: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*gap:10px*/
  height: 700px;
  padding: 10px 100px 50px;
}
.contenedor-padre .maquinas, .contenedor-padre .clases, .contenedor-padre .instalaciones {
  box-sizing: border-box;
  width: 300px;
  height: 300px;
  background-color: rgb(188, 233, 121);
  border: 3px solid;
  padding: 20px;
  overflow: scroll;
}
.contenedor-padre h3 {
  font-family: "michroma";
  font-size: 20px;
  text-align: center;
}

.sobre-nosotros {
  background-color: black;
}
.sobre-nosotros h3 {
  font-family: "michroma";
  text-align: center;
  font-size: 40px;
  color: yellowgreen;
}
.sobre-nosotros p {
  font-family: "michroma";
  padding: 20px;
  color: yellowgreen;
  line-height: 30px;
  font-size: 20px;
}

/*ESTILOS DEL FOOTER*/
.pie-pagina {
  background-image: url(../imagenes/fondo-index.jpg);
  background-position: bottom right;
  display: flex;
  justify-content: space-evenly;
  height: 250px;
  padding: 20px 0px;
}
.pie-pagina .lista-sedes h3, .pie-pagina .lista-sedes ul {
  color: rgb(222, 220, 220);
}
.pie-pagina .lista-sedes li {
  list-style-type: none;
  font-size: 20px;
}
.pie-pagina .lista-contacto {
  color: rgb(222, 220, 220);
}
.pie-pagina .lista-contacto li {
  list-style-type: none;
  font-size: 20px;
}
.pie-pagina .suscripcion {
  color: white;
  font-size: 20px;
}
.pie-pagina .redes {
  color: white;
}
.pie-pagina .redes ul {
  list-style-type: none;
  font-size: 25px;
}
.pie-pagina .redes .bxl-instagram {
  color: white;
  font-size: 50px;
}
.pie-pagina .redes .bxl-facebook-square {
  color: white;
  font-size: 50px;
}
.pie-pagina .redes .bxl-whatsapp {
  color: white;
  font-size: 50px;
}

#footer {
  background-color: rgb(103, 102, 102);
  background-position: bottom right;
  display: flex;
  justify-content: space-evenly;
  height: 250px;
  padding: 20px 0px;
}
#footer .lista-sedes h3, #footer .lista-sedes ul {
  color: rgb(222, 220, 220);
}
#footer .lista-sedes li {
  list-style-type: none;
  font-size: 20px;
}
#footer .lista-contacto {
  color: rgb(222, 220, 220);
}
#footer .lista-contacto li {
  list-style-type: none;
  font-size: 20px;
}
#footer .suscripcion {
  color: white;
  font-size: 20px;
}
#footer .redes {
  color: white;
}
#footer .redes ul {
  list-style-type: none;
  font-size: 25px;
}
#footer .redes .bxl-instagram {
  color: white;
  font-size: 50px;
}
#footer .redes .bxl-facebook-square {
  color: white;
  font-size: 50px;
}
#footer .redes .bxl-whatsapp {
  color: white;
  font-size: 50px;
}

/*ESTILOS CARDS- PAG CLASES*/
.cards-container {
  background-color: black;
  display: flex;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 10px;
  gap: 10px;
}
.cards-container .card {
  box-sizing: border-box;
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /*overflow: scroll;*/
  border: 1px solid rgb(3, 3, 3);
  border-radius: 8px;
}
.cards-container .card-img {
  position: relative;
  width: 100%;
}
.cards-container img {
  width: 100%;
}
.cards-container .card-titulo h4 {
  font-size: 22px;
  position: absolute;
  bottom: 0;
  padding: 10px 3px;
  color: white;
  /*background-color:hsla (0, 0%, 0%, 0.361);*/
  width: 100%; /*opacity: 0;*/
}
.cards-container #title-zumba {
  color: black;
}

/*PSEUDOCLASES*/
.cards-container div.card:nth-child(1) {
  background-color: rgb(188, 233, 121);
}
.cards-container div.card:nth-child(2) {
  background-color: rgb(185, 187, 182);
}
.cards-container div.card:nth-child(3) {
  background-color: rgb(188, 233, 121);
}
.cards-container div.card:nth-child(4) {
  background-color: rgb(185, 187, 182);
}

/* PAG. MAQUINAS-GRID-GALLERY*/
.grid-gallery {
  width: 100%;
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px 70px;
  gap: 10px;
  justify-items: center;
}
.grid-gallery img {
  border-radius: 10px;
}
.grid-gallery img:hover {
  opacity: 0.75;
}

.tecnologia {
  /*display: flex;*/
  background-color: black;
  height: 100px;
  width: 100%;
}
.tecnologia h3 {
  font-family: "michroma";
  display: flex;
  color: yellowgreen;
  justify-content: center;
  font-size: 40px;
}

/*# sourceMappingURL=styles.css.map */
