/*DISEÑO CELULAR-media queries-INDEX*/
   
@media (max-width:480px){
	
	/*menu navegacion*/
nav{
		display:grid;
		align-items: end;
	
.container-fluid{
		background:yellowgreen;
		display: flex;	
	}
	
.navbar-nav a{
		color: white;
		font-size: 20px;
		align-content: end;
	}
    }
}

/*estilos contenedores*/

.contenedor-padre{
    display: grid;
    column-gap: 5px;
    height: 1000px;
    justify-content:center;
}

.sobre-nosotros {
	h3{
		font-size: 20px;	
	}

    p{
    line-height: 30px;
    font-size: 15px;
}
}

/*FOOTER-CELU*/

.pie-pagina{
    background-position: bottom right;
	display:grid;
	height: 300px;
	grid-template-columns:1fr 1fr;    

.lista-sedes{
    h3{
 	color:rgb(222, 220, 220);
 	padding: 0px 20px;
	font-size: 15px;
    }

    li{
	color:rgb(222, 220, 220);
	font-size: 15px;
    }
}

.lista-contacto{
	h3{
		color: rgb(222, 220, 220);
		font-size: 15px;
	}
	li{
		font-size: 15px;
	}
}

.suscripcion{
	span{
		padding: 0px 20px;
		font-size: 15px;
	}
	button{
		padding: 0px 30px;
		font-size: 15px;
	}
}

.redes{
	ul{
		font-size: 15px;
	}
}

.bxl-instagram{
	font-size: 20px;
}

.bxl-facebook-square{
	font-size: 20px;
}

.bxl-whatsapp {
	font-size: 20px;
}
    
 }
