/*DISEÑO CELULAR-media queries-INDEX*/

@media screen and (max-width: 480px){
    
/*Menu Navegacion*/
    nav{
		display:grid;
		align-items: end;
	}
	
	.container-fluid{
		background:yellowgreen;
		display: flex;	
	}
	
	.navbar-nav a{
		color: white;
		font-size: 20px;
		align-content: end;
	}    

/*MAIN-Maquinas,Clases,Instalaciones*/
    .contenedor-padre{
		display: grid;
		column-gap: 5px;
		height: 1000px;
		justify-content:center;
   }

   .sobre-nosotros{
	justify-content: center;

	h3{
		font-size: 20px;
}

	p{
    line-height: 30px;
    font-size: 15px;
}

}

/*FOOTER*/

.pie-pagina{
	background-position: bottom right;
	display:grid;
	height: 700px;
	grid-template-columns: 1fr;
	justify-items: center;
	text-align: center;
	
}
.lista-sedes{
	h3{
		padding: 0px 20px;
		font-size: 20px;
	}

	li{
		font-size: 15px;
	}

}

.lista-contacto{
	h3{
		padding: 0px 20px;
		font-size: 20px;
	}
	li{
		font-size: 15px;
	}
}

.suscripcion h3{
	padding: 0px 20px;
	font-size: 20px;
}

.redes ul{
	font-size: 15px;
}

.bxl-instagram{
	font-size: 20px;
}

.bxl-facebook-square{
	font-size: 20px;
}

.bxl-whatsapp {
	font-size: 20px;
}

.suscripcion button{
	padding: 0px 30px;
	font-size: 15px;
}

.grid-gallery{
	display: grid;
	grid-template-columns: 1fr;
   }

   .tecnologia h3{
	font-size: 20px;
	text-align: center;
}

#footer{
	display:grid;
	height: 700px;
	grid-template-columns:1fr;
	text-align: center;
}

/*PAGINA-CLASES*/
.cards-container{
	display: grid;
	column-gap: 5px;
	grid-template-columns: 1fr;
	justify-items: center;
	}
}



