@import "partials/reset";
@import "partials/fonts";
@import "partials/variables";


/*ESTILOS HEADER*/

// .carousel-inner{
//     width: 100%;
//     height: 500px;
//     ;
    
// }


header{
	height: 300px;
	width: 100%;
	background-position:0px;
	background-repeat: no-repeat;
	background-size: cover;

    h1{
        font-family: "michroma";
        background-color:black;
        color:greenyellow;
        font-size: 50px;
        text-align:center;
        margin: 0;
    }
    

    h1:hover{
        color: azure;   
    }
    img{
        opacity: .60;
    }
    img:hover{
        opacity: 1;
   }
}

/*Estilos del NAV*/

nav{
	display: flex;
    
.container-fluid {
	background:yellowgreen;
	display: flex;
	align-items: end;
}

.navbar-nav a{
	color: white;
	font-size: 20px;
   }

}

/*ESTILOS DEL MAIN-INDEX (MAQUINAS, CLASES, INSTALACIONES)*/

.contenedor-padre{
    background-image: url(../imagenes/fondo-index.jpg);
    background-position: 100%;
    height: 700px;			

.container{

a{
    color: black;
}

.btn{
    border-color: black;
}

h3{
    text-align: center;
}

.col-md-4{
    background-image: linear-gradient(to bottom, yellowgreen, rgb(149, 154, 149));
    margin: 80px;    
}
.row{
    border: none;
   }
}

h3{
font-family:"michroma";
font-size: $small;
text-align: center;
padding: 5px;
  }

}

.sobre-nosotros{
background-color:black;

h3{
font-family: "michroma";
text-align: center;
font-size: 40px;
color:yellowgreen
}

p{
font-family: "michroma";
padding: 20px;
color:yellowgreen;
line-height: 30px;
font-size: 20px;
}
}

/*ESTILOS DEL FOOTER*/

.pie-pagina{
    background-image: url(../imagenes/fondo-index.jpg);
    background-position: bottom right;
    display: flex;
    justify-content:space-evenly;
    height: 250px;
    padding: 20px 0px;    

.lista-sedes{
    h3, ul{
 color:rgb(222, 220, 220);
        }
    li{
list-style-type: none;
font-size: 20px;
    }
}

.lista-contacto {
color: rgb(222, 220, 220);
   
li{
list-style-type: none;
font-size: 20px;
  }
}
.suscripcion{
color:rgb(222, 220, 220);
font-size: 20px;
}

.redes {
    color:rgb(222, 220, 220);

ul  {
    list-style-type: none;
    font-size: 25px;
    }
.bxl-instagram{
color: white;
font-size: 50px;
    }

.bxl-facebook-square{
color: white;
font-size: 50px;
    }

.bxl-whatsapp {
color: white;
font-size: 50px;
    }
    }
}

#footer{
    background-color: rgb(103, 102, 102);
    background-position: bottom right;
    display: flex;
    justify-content:space-evenly;
    height: 250px;
    padding: 20px 0px;

.lista-sedes{
        h3, ul{
     color:rgb(222, 220, 220);
    }
        li{
    list-style-type: none;
    font-size: 20px;
    }
    }
    
.lista-contacto {
    color: rgb(222, 220, 220);
       
    li{
    list-style-type: none;
    font-size: 20px;
      }
    }
.suscripcion{
    color:rgb(222, 220, 220);
    font-size: 20px;
    }
    
.redes {
    color:rgb(222, 220, 220);
    
    ul  {
        list-style-type: none;
        font-size: 25px;
        }
    .bxl-instagram{
    color: white;
    font-size: 50px;
        }
    
    .bxl-facebook-square{
    color: white;
    font-size: 50px;
        }
    
    .bxl-whatsapp {
    color: white;
    font-size: 50px;
        }
        }
    }

/*ESTILOS CARDS- PAG CLASES*/

.cards-container{
    background-color:black;
	display: flex;
	justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
	padding: 10px;
	gap: 10px;

.card{
        box-sizing: border-box;
        width: 300px;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border: 1px solid rgb(3, 3, 3);
        border-radius: 8px;
    }

    .card-img{
        position: relative;
        width: 100%;
    }

    img{
        width: 100%;
}

.card-titulo h4 {
    font-size: $medium;
    position: absolute;
    bottom: 0;
    padding: 10px 3px;
    color:white;
    width: 100%;
}

#title-zumba{
	color: black;
    }

.card-content{
    padding: 10px;
    text-align: start;
}
}

/*PSEUDOCLASES*/
.cards-container {
    div.card:nth-child(1){
	background-color:rgb(188, 233, 121);
}
    div.card:nth-child(2){
	background-color:rgb(185, 187, 182);
}
    div.card:nth-child(3){
	background-color:rgb(188, 233, 121);
}
    div.card:nth-child(4){
	background-color:rgb(185, 187, 182);
}
}

/* PAG. MAQUINAS-GRID-GALLERY*/

.grid-gallery{
    width: 100%;
    height: 100%;
    background-color: black;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    padding: 10px 70px;
    gap: 10px;
    justify-items: center;

    /*Transiciones-hover*/
    
    img{
        border-radius: 10px;
        width: 300px;
        height: 300px;
        transition: width 1s, height 1s;
    }

    img:hover{
        opacity: .75;
        width: 400px;
        height: 400px;
    }
}

.tecnologia{
	background-color:black;
	height: 100px;
	width:100%;

h3{
font-family: "michroma";
display: flex;
color:yellowgreen;
justify-content: center;
font-size: 40px;
    }
}

.container div{
    border: 2px solid
}

/*Estilos Pag. Pase de Prueba*/

.contenedor-prueba{
    background-image: url(../imagenes/fondo-prueba.jpg);
    background-repeat:no-repeat;
    background-size: 100% 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;

h2{
    text-align: center;
    font-family: "michroma";
    color: yellowgreen;
    font-size: 20px;
    margin-top: 150px;    
}
    
h1{
    font-family: "michroma";
    color:greenyellow;
    font-size: 40px;
    text-align: center;
    margin-top: 400px;   
}

.bx-down-arrow-alt{
    color: greenyellow;
    font-size: 80px;
    text-align: center;

}
}

.contenedor-formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 700px;
    padding:70px;

.formulario{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 20px;
}

h2{
    text-align: center;
    margin-bottom: 30px;
}

.form{
    width: 45%;
    height: 50px;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 3px solid;
    transition: 1s; 
}

.form:hover{
    background-color: yellowgreen;
}
    
.msj{
    width: 90%;
    padding: 50px;
    border-radius: 5px;
    border: 3px solid;
    transition: 1s;
}

.msj:hover{
    background-color: yellowgreen;
}
    
.button{
    margin-top: 20px;
    width: 45%;
    height: 60px;
    border-radius: 5px;
    border: 3px solid;
    background-color: white;
    transition: 1s;    
}

.button:hover{
    background-color: yellowgreen;
}
    
}


@import "partials/conditional";
@import "queries";

