/*BUCLE FOR*/
@for $i from 1 to 7{
    .titulo-#{$i}{
        font-size: 1rem * $i;
    }
}

/*Nota: Para que funcione tendria que comentar la clase titulo que ya tengo generada en mi css y utilizar en el html el nombre de esta clase que cree con el for o sea (titulo-X) x tendria que ser un numero del 1 al 6*/
/*YA LO PROBE Y SI ANDA PERO HAY QUE BUSCAR OTRA IDEA DE DONDE APLICARLO*/

/*BUCLE EACH*/

@each $color in red, blue, yellow{
      .#{$color}{
        color: $color
      }
}

/*Lo mismo, es como si creara las clases primero en css y luego las uso en el html donde las necesite*/

/*EXTEND-EJEMPLO CLASE*/

.btn {
    font-size: $normal;
    width: 80px;
    height: 40px;
    padding: 8px;
    color:aqua;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-medium{
    @extend .btn;
    width: 50%;
    height: 45px;
}

.btn-big{
    @extend .btn;
    width: 100%;
    height: 45px;
}

/*Extend se usa para poder compartir PROPIEDADES de una clase, con otras sin tener que reescribirlas, quiere decir que btn-medium y btn-big con el @extend tienen sus propiedades originales + Las que agregamos a ellas particularmente*/

/*MIXIN-sin parametro- en un archivo aparte de mixin y luego lo importas en el style.scss*/
@mixin encabezados (){
    h1{
        font-size: 1.5em;
    }
    
    h2{
        font-size: 1.2em;
    }
    
    h3{
        font-size: 1em;
    }

}

/*MIXIN-con parametros, estarian definidos por una variable, que previamente tendria que estar definida en el archivo _variables*/
@mixin encabezados ($tamaño){
    h1{
        font-size: $tamaño;
    }

    h2{
        font-size: $tamaño - 0.2;
    }

    h3{
        font-size: $tamaño - 0.3;
    }
}

/*Para usar los mixin se tienen que llamar en el archivo ppal styles.scss con
@include encabezados (y aqui poner los valores)*/

/*NOTA: ESTA PARTE DE LOS MIXIN NO SE ESTA COMPILANDO EN EL CSS PORQUE NO LO IMPORTE AL ARCHIVO PPAL SOLO ANOTE LA CLASE*/