@font-face {
	font-family: "michroma";
    src:url(../fuentes/Michroma/Michroma-Regular.ttf);
    font-weight: bold;
	font-style: bold;
}

@font-face {
	font-family: "michroma";
    src:url(../fuentes/Michroma/Michroma-Regular.ttf);
    font-weight: normal;
	font-style:normal;
}